.map {
    height: 100vh;
    width: 100%;
}

.infoPoint {
    font: 11px Helvetica;
    color: black;
    position: absolute;
    display: none;
    width: 200px;
    height: 310px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.infoHeader {
    width: 100%;
    height: 25px;
    font: 10px Helvetica;
    color: white;
    background-color: #ff8e6c;
}

.rvInput {
    width: 98%;
    align: center;
    border-width: thin;
    font: 11px Helvetica;
}

.baloon {
    font: 10px Helvetica;
    display: flex;
    flex-direction: column;
}